MONGO_URI=mongodb+srv://buhlemhlanga2003_db_user:qHlgpXGDyWYQj2fU@cluster0.gs4msho.mongodb.net/?appName=Cluster0MONGO_URI=mongodb+srv://yourUsername:yourPassword@cluster0.xxxxx.mongodb.net/airbnb?retryWrites=true&w=majority
CLIENT_URLS=http://localhost:5174,http://localhost:5176
PORT=5000
JWT_SECRET=e53bd95ea013a2fcad38a70744476c30ff385bc26d4bae128b44c24e7cc1d605f6a1302ef72ada1c2f6a0f3fcabe145a

